*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,176,160,1) 42%, rgba(0,212,255,1) 100%);
}


#imagen{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}


h1{
    color:white;
    font-size: 50px;
    text-shadow: 5px 5px 5px yellow;
    margin: 10px;
}
h2{
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
    margin: 10px;
}
a{
    width: 200px;
    height: 50px;
    padding: 20px;
    margin: 10px auto ;
    font-size: 20px;
    text-decoration: none;
    display: block;
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 10px red;
}